@model IEnumerable<Milty.Models.Repository>

@{
    ViewBag.Title = "Разделы";
}

<h2>Разделы</h2>
@if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Создать раздел", "Create")
    </p>
}
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
